	</body>
	<script>
	$("#courselist").hide();
	$('#searchbar').keyup(function(){
		$("#courselist").show();
		var valThis = $(this).val().toLowerCase();
		var noresult = 0;
		if(valThis == ""){
			$('#courselist > tbody > tr > td').show();
			noresult = 1;
			$('.no-results-found').remove();
    	} else {
			$('#courselist > tbody > tr > td').each(function(){
				var text = $(this).text().toLowerCase();
				var match = text.indexOf(valThis);
				if (match >= 0) {
					$(this).show();
					noresult = 1;
					$('.no-results-found').remove();
				} else {
					$(this).hide();
				}
        	});
   			};
		if (noresult == 0) {
			$("#courselist > tbody").append('<tr><td class="no-results-found">No results found.</td></tr>');
		}
	});         
	
	$("#searchbar").click(function(){
		$("#courselist").show();
	});

	$(".home").click(function() {
		document.location.href = "/";
	});
	$("#guest").click(function() {
		document.location.href = "/";
	});
	$(".post-review").click(function() {
		let url = window.location.pathname;
		document.location.href = url + "/new";
	});
	$(".back").click(function() {
		let url = window.location.pathname.slice(0, window.location.pathname.lastIndexOf('/'));
		document.location.href = url;
	});
	function countChars(obj){
		var maxLength = 140;
		var strLength = obj.value.length;
		var charRemain = (maxLength - strLength);
		
		if(charRemain >= 0){
			document.getElementById("CharNum").innerHTML = charRemain+' characters remaining';
		}
	}
	</script>
</html>