<%- include("partials/header") -%> 

<body style="background-color: #cccccc;">
    <% if (message.length > 0) { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <h2 style="font-size: 16px;"><%= message %></h2>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
   
    <% } %>
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
            <div class="login-form">
                <form action="/login" method="POST">
                    <div class="sign-in-htm">
                    <div class="group">
                        <label for="email" class="label">Email</label>
                        <input id="email" type="email" class="input" name="email" required>
                    </div>
                    <div class="group">
                        <label for="password" class="label">Password</label>
                        <input id="password" type="password" class="input" name="password" data-type="password" required>
                    </div>
                    <div class="group">
                        <button class="button" type="submit">Sign In</button>
                    </div>
                    <div class="hr"></div>
                    <div class="group">
                        <button id="guest" type="submit" class="button">Continue as Guest</button>
                    </div>
                </div>
                </form>
                <form action="/register" method="POST">
                <div class="sign-up-htm">
                    <div class="group">
                        <label for="name" class="label">Full Name</label>
                        <input id="name" type="text" name="name" class="input" required>
                    </div>
                    <div class="group">
                        <label for="email" class="label">Email Address</label>
                        <input id="email" type="email" class="input" name="email" required>
                    </div>
                    <div class="group">
                        <label for="password" class="label">Password</label>
                        <input id="password" type="password" class="input" name="password" data-type="password" required>
                    </div>
                    <div class="hr"></div>
                    <div class="group">
                        <button type="submit" class="button">Sign Up</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</body>

<%- include("partials/footer") -%> 