body {
    overflow: hidden;
}
section{
    margin: auto;
    width: 20%;
    height: 100%;
    padding: 10px;
    padding-top: 10%;
}

.group {
    margin-bottom: 15%;
}

.message {
    font-size: 60px;
    font-weight: 700;
    color: white;
    margin: 0;
}

#opening {
    color: white;   
    font-size: 20px;
    font-weight: lighter;
}

p strong {
    font-weight: 600;
}

#searchbar{
    margin-top: 10%;
    padding-left: 20px;
    width: 100px;
    height: 60px;
    font-size: 20px;
    color: black;
    
}

#myCarousel {
    height: 25%;
}
.carousel-inner{
    height: 100%;
}
.carousel-item{
    height: 100%;
}
.card-body{
    height: 100%;
}


@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
      display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
      display: block;
    }
  }
  
  .carousel-inner .carousel-item.active,
  .carousel-inner .carousel-item-start,
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    display: flex;
  }
  
  /* display 4 */
  @media (min-width: 768px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next,
    .carousel-item-next:not(.carousel-item-start) {
      transform: translateX(33%) !important;
    }
  
    .carousel-inner .carousel-item-left.active,
    .carousel-item-prev:not(.carousel-item-end),
    .active.carousel-item-start,
    .carousel-item-prev:not(.carousel-item-end) {
      transform: translateX(-33%) !important;
    }
  
    .carousel-item-next.carousel-item-start, .active.carousel-item-end {
      transform: translateX(0) !important;
    }
  
    .carousel-inner .carousel-item-prev,
    .carousel-item-prev:not(.carousel-item-end) {
      transform: translateX(-33%) !important;
    }
  }