body {
  overflow: hidden;
}

.group {
  margin-bottom: 15%;
}

.message {
  font-size: 60px;
  font-weight: 700;
  color: white;
  margin: 0;
}

#opening {
  color: white;   
  font-size: 20px;
  font-weight: lighter;
}

p strong {
  font-weight: 600;
}

#searchbar {
  margin-top: 10%;
  padding-left: 20px;
  width: 100px;
  height: 60px;
  font-size: 20px;
  color: black;  
  border-radius: 20px; 
}

#courselist {
  background-color: white;
  width: 100%;
  border-radius: 15px;
}
@media screen and (min-width: 1980px) {
  section{
    margin: auto;
    width: 20%;
    height: 100%;
    padding: 10px;
    padding-top: 10%;
  }

  #courselist tbody {
    display:block; 
    overflow:auto;
    height:250px;
    width:100%;
    scrollbar-width: none;
  }
}

@media screen and (min-width: 1600px) {
  section{
    margin: auto;
    width: 20%;
    height: 50%;
    padding: 10px;
    padding-top: 10%;
  }

  #courselist tbody {
    display:block; 
    overflow:auto;
    height:200px;
    width:100%;
    scrollbar-width: none;
  }
}


#courselist tbody::-webkit-scrollbar{
  display: none;
}

#courselist tbody tr td a{
  font-size: 15px;
  text-decoration: none;
  color: black;
  overflow: hidden;
}

#courselist tbody tr:hover{
  font-weight: 600;
}

.p-5 {
  background-color: #6B7A8F;
  color: white;
  margin: 0;
  height: 40%;
}

.pt-5 {
  height: 50%;
  border-color: #dedede;
}

#carousel-container {
  margin: 0;
  max-width: 100%;
}

.col-md-4 {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  margin: 5%;
  height: 90%;
  width: 70%;
  border-radius: 15px;
  
}

.fa-star {
  display: inline-block;
} 

.yellow {
  color: #FFAA33;
}

.card-text {
  position: absolute;
  padding-bottom: 3%;
  bottom: 0;
}

.btn-secondary {
  color: white;
}

button a {
  color: inherit;
  text-decoration: none;
}

button a:hover{
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

#btn-row {
  margin: 2%;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  height: 20vh;
  max-width: 125px;
  
}

.carousel-control-prev {
  left: 2%;
  margin-top: 32%;
}

.carousel-control-next {
  right: 2%;
  margin-top: 32%;
}

.segment {
  padding: 16px * 2 0;
  text-align: center;
}

.control {
  background-color: #6B7A8F;
  width: 50px;
  height: 50px;
}

.v-bar {
  border-left: 6px solid  #6B7A8F;
  width: 5%;
  margin-left: 5%;
}

.hidden {
  display: none;
}

.login-wrap{
	width:100%;
	margin:auto;
  margin-top: 10%;
	max-width:40rem;
	min-height:51rem;
	position:relative;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

.alert{
  background-color: white;
  animation-name: fadeOut;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  position: absolute;
  top: 0;
}

.ui.button {
  margin-top: 5%;
}
